{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">About This App</h5>
                    <p class="card-text">
                    This web app is designed to manage the AH Bot configuration for Mangos emulators.
                    You'll be able to customize each configuration entry and better understand what they do
                    and their limitations.
                    </p>
            </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Github Repository</h5>
                    <p class="card-text">
                    Feel free to contribute to this project!
                    </p>
                    <a
                    href="https://github.com/i-am-fyre/mangos-ahbotmanager"
                    class="btn btn-primary"
                    target="_blank"
                    >
                    Go to Github
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
